fastapi==0.116.1
uvicorn==0.35.0
langchain==0.3.26
langchain-community==0.3.27
langchain-openai==0.3.28
langchain-core==0.3.69
langchain-text-splitters==0.3.8
openai==1.96.1
faiss-cpu==1.11.0.post1
huggingface-hub==0.33.4
sentence-transformers==5.0.0
transformers==4.53.2
torch==2.7.1
numpy==2.2.6
pydantic==2.11.7
python-dotenv==1.1.1